<!DOCTYPE html>

<html lang="en">
<head>
    <title id="head-title"></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <button class="btn-stop-animate" id="btn-stop-animate" title="stop animate">∎</button>
    <button class="btn-plane" id="btn-plane" title="plane visible">✛</button>

    <header id="canvas">
        <div class="plane" id="plane">
            <div class="x"></div>
            <div class="y"></div>
        </div>
        <div class="gif" id="container-img-canvas">
            <img src="" alt="img" id="img-canvas">
        </div>        
    </header>
    <div class="main-container">
        <main class="main-content">
            <h1 class="proyect-name" id="proyect-name"></h1>
            <p class="autor" id="autor"></p>
            <p class="description" id="description"></p>
            <div class="sequence" id="sequence"></div>
        </main>
        <footer>
            <div class="credits">
                <p id="copyright"></p>
            </div>
        </footer>
    </div>
</div>
<script src="animate.js"></script>
</body>
</html>