<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Proyect</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <header class="gif-container" id="gif-container">
        <div class="plane active-plane">
            <div class="x"></div>
            <div class="y"></div>
        </div>
        <div class="gif">
            <img src="https://maplestory.io/api/0/83/npc/10000/render/move/0" alt="img">
        </div>        
    </header>
    <div class="main-container">
        <main class="main-content">
            <h1 class="name-gif-proyect">Gif Proyect Name</h1>
            <p class="autor">Autor: Erick</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati dolores ea illo nulla architecto sint necessitatibus mollitia iste eos numquam soluta, quidem earum? Esse error ipsam ut voluptatem ab?</p>
            <div class="sequences">
                
                <div class="images image1">
                    <div class="content-img">
                        <img src="https://maplestory.io/api/0/83/npc/10000/render/move/0" alt="img">
                    </div>
                    <div class="content-property">
                        <p><strong>#1</strong></p>
                        <p><strong>Delay: </strong> 60</p>
                        <p><strong>x: </strong> 15</p>
                        <p><strong>y: </strong> 150</p>
                    </div>
                </div>

                <div class="images image2">
                    <div class="content-img">
                        <img src="https://maplestory.io/api/0/83/npc/10000/render/move/0" alt="img">
                    </div>
                    <div class="content-property">
                        <p><strong>#2</strong></p>
                        <p><strong>Delay: </strong> 60</p>
                        <p><strong>x: </strong> 50</p>
                        <p><strong>y: </strong> 17</p>
                    </div>
                </div>
                
            </div>
        </main>
        <footer>
            <div class="credits">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minima, facilis inventore voluptatibus voluptatum corrupti? Corrupti quam eum repudiandae aspernatur velit nulla necessitatibus ex autem voluptates, ratione, laboriosam nam assumenda.</p>
            </div>
        </footer>
    </div>
</div>
<script src="animate.js"></script>
</body>
</html>