<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Proyect</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <button class="btn-stop-animate" id="btn-stop-animate" title="stop animate">∎</button>
    <button class="btn-plane" id="btn-plane" title="plane visible">✛</button>
    <header class="gif-container" id="gif-container">
        <div class="plane" id="plane">
            <div class="x"></div>
            <div class="y"></div>
        </div>
        <div class="gif" id="container-img-canvas">
            <img src="" alt="img" id="img-canvas">
        </div>        
    </header>
    <div class="main-container">
        <main class="main-content">
            <h1 class="name-gif-proyect">Gif Proyect Name</h1>
            <p class="autor">Autor: Erick</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati dolores ea illo nulla architecto sint necessitatibus mollitia iste eos numquam soluta, quidem earum? Esse error ipsam ut voluptatem ab?</p>
            <div class="sequences" id="sequences"></div>
        </main>
        <footer>
            <div class="credits">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minima, facilis inventore voluptatibus voluptatum corrupti? Corrupti quam eum repudiandae aspernatur velit nulla necessitatibus ex autem voluptates, ratione, laboriosam nam assumenda.</p>
            </div>
        </footer>
    </div>
</div>
<script src="animate.js"></script>
</body>
</html>